[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metadeconfoundR"]
	path = metadeconfoundR
	url = https://github.com/tillbirkner/metadeconfoundr
